@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #009ce9;
  --text-color: #5a7681; 
  --text-color-light: #848486; 
    --text-color-names: #343e3f;
}

body,html{
    font-family: 'Raleway', sans-serif;
    color: var(--text-color) !important;
}

h3{
    font-weight: 600;
}
p{
    color: var(--text-color--light);

}

.btn-primary{
    background-color: var(--primary-color);
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
}


/*---Navigation bar Style---*/
.navbar{
    font-weight: 600;
    font-size: 0.9rem;
    background-color: #fff !important;
   
 
}
.navbar .navbar-brand{
    color: #5a696c;
}
.navbar .navbar-brand:hover{
    color: #5a696c;
}
.navbar-nav li{
    padding: 0.5rem;
}
.navbar-light .navbar-nav .nav-link{
    color: var(--text-color--light);
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover
{
    color: var(--primary-color);
}

/*---Landing section Style---*/

.landing{
    padding-top:3.5rem;
}
.landing h1{
    color: var(--text-color-names);
    font-weight: 700;
   
}

/*---Team section Style---*/

.team-container
{
    position: relative;
}
.team-text{
    position: absolute;
    background-color: #fff;
    width: 80%;
    bottom: -10%;
    right: 10%;
}
.team-text hr{
    width: 20%;
    border-color: var(--text-color-names);
}
.team-text h6{
    color: var(--text-color-names);
}



.profile{
    padding: 0px 10px 10px;
    background-color: #f5f6f8 ;
}

.profile img{
    position:absolute;
    bottom:-20px;
    left: 10%;
    border: 6px solid white;

}

.user{
    width: 60px;
    height: 60px;
    border-radius:50%;
}

.profile h5{
    bottom: -24%;
    left: 10%;
    position: absolute;
    color: var(--text-color-names);
}
.profile h6{
    bottom: -34%;
    position: absolute;
    left: 10%;
}

#testimonials .col-md-4{
    margin-bottom: 5rem;
}
blockquote svg.svg-inline--fa{
    color: #e8eaec;
    margin: 0rem 0.5rem;
  }

